[submodule "Supervised/Text_Classification"]
	path = Supervised/Text_Classification
	url = https://github.com/tung2921/Text-Classification
[submodule "Unsupervised/Topic_Modeling"]
	path = Unsupervised/Topic_Modeling
	url = https://github.com/tung2921/Topic_Modeling
[submodule "Supervised/Sentiment CLassifier"]
	path = Supervised/Sentiment CLassifier
	url = https://github.com/tung2921/Sentiment-Classifier
[submodule "Unsupervised/Similarity-Search"]
	path = Unsupervised/Similarity-Search
	url = https://github.com/tung2921/Similarity-Search
[submodule "Scratch"]
	path = Scratch
	url = https://github.com/tung2921/Scratch.git
